@import 'variables/global';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

button,
input,
a {
  all: unset;
}

button,
a {
  cursor: pointer;
}

.app {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font: var(--font-s);
}

.content-page {
  display: flex;
}
