@import '../../../../styles/mixins.scss';

.menu {
  @include flex-column;
  position: absolute;
  z-index: 1000;
  box-shadow: var(--main-box-shadow);
  background-color: var(--main-bg-color);
}

.item {
  padding: 10px 25px;
  color: var(--text-color);

  &:hover {
    color: var(--link-hover-color);
  }
}
