@import 'shared/styles/mixins.scss';

.AdvertisementList {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.BIG {
  @include flex-column;
}

.SMALL {
  .AdvertisementList {
    @include flex-column;
  }
  @include flex-row-center;
  flex-wrap: wrap;
}

.empty {
  margin: auto;
}
