@import 'src/shared/styles/mixins.scss';

.LoginForm {
  @include flex-column;
  width: 400px;
  row-gap: 20px;
}

.inputs {
  @include flex-column;
  row-gap: 10px;
}

.loginBtn {
  align-self: flex-start;
}

.title {
  font: var(--font-xl);
}

.submitContainer {
  @include flex-row;
  align-items: center;
  column-gap: 15px;
}

.footer {
  margin: 0 -30px -30px;
  padding: 20px 30px;
  border-bottom-left-radius: var(--br-size-m);
  border-bottom-right-radius: var(--br-size-m);
  background-color: var(--footer-login-form-bg-color);
}
