@import 'src/shared/styles/mixins';

.Navbar {
  @include flex-row-center;
  position: sticky;
  justify-content: space-between;
  padding: var(--page-padding);
  width: 100%;
  background-color: var(--header-bg-color);
  color: var(--inverted-text-color);
  height: var(--navbar-height);
}

.navigation {
  @include flex-row-center;
  column-gap: 10px;
}
