@import '../../../../styles/mixins.scss';

.ListBox {
  @include flex-column;
  gap: 5px;
  width: max-content;
}

.options {
  position: absolute;
  z-index: 1000;
  border-radius: var(--br-size-s);
  background-color: var(--main-bg-color);
}

.item {
  padding: 10px 20px;
}

.selected {
  background-color: var(--main-bg-color);
}
