.options {
  position: absolute;
  z-index: 1000;
  border-radius: var(--br-size-s);
  box-shadow: var(--box-shadow-main);
  background-color: var(--main-bg-color);
}

.item {
  padding: 10px 20px;
}

.selected {
  background-color: var(--main-bg-color);
}
